.extraInfo {
        .weatherContainer {
            .weatherInfo{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 15px;
                flex-wrap: wrap;
                .titleCondition {
                         font-family:  'Roboto', sans-serif;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                        text-align: center;
                        text-wrap: wrap;
                   }
                    .tempInfo {
                        background-color: aquamarine;
                        border-radius: 15px;
                        padding: 15px;
                        margin: 0;
                         h3 {
                        text-align: center;
                        color: black;
                    }
                    }
                    .btnForecast {
                        border-radius: 8px;
                        border: 1px solid transparent;
                        margin: 15px 0;
                        font-size: 1em;
                        font-weight: 500;
                        width: 270px;
                        max-width: 450px;
                        background-color: #1a1a1a;
                        cursor: pointer;
                        transition: border-color 0.25s;
                            svg {
                                fill: #FFF;
                                width: 1.5em;
                                height: 2em;
                                margin-left: 3px;
                            }
                            span {
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    .btnForecast:hover {
                        border-color: #FFF;
                    }
                    .titleForecast {
                    margin: 20px 0 0 0;
                    text-align: center;
                    color: white;
                
                }
                    h2,h3 {
                        margin : 0;
                        
                    }
                    img {
                        height: 150px;
                        width: 120px;
                    }
            }
        .extraInfoWeather {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: none;
            padding: 20px;
            font-weight: 700;
            font-size: 20px;
            background-color: #333;
            border-radius: 15px;
            margin-bottom: 15px;
        }

        .sevenDayForecast {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            gap:20px;
            margin: 20px 0 ;
            padding: 0;
            color: black;
            list-style: none;
            .dayItem {
                flex: 1;
                flex-basis: 200px;
                max-width: 220px;
                display: flex;
                margin: 25px 0;
                flex-direction: column;
                align-items: center;
                list-style: none;
                padding: 15px 0;
                font-weight: 700;
                font-size: 20px;
                background-color: #333;
                border-radius: 15px;
                .dayInfo {
                    text-align: center;
                    h4 {
                        margin: 0;
                    }
                }
                .daysWeatherContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 15px;
                    img {
                        padding: 25px 0;
                        text-align: center;
                        height: 120px;
                    }
                }
            }
        }
        
    }
}

